* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.box {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 50s linear infinite;
}
 
@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}
.box .rotate {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center ;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.box .rotate img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: all .5s;
}

.box span img:hover {
   width: 110%;
   height: 110%;
}
button {
   position: relative;
   right: 8em;
    color: #fff;
    z-index: 10000;
    margin-top: 700px;
   justify-content: center;
   align-items: center;
    padding: 15px;
    border-radius: 20px;
    border: none;
   
}

button a:link, 
button a:visited {
    text-decoration: none;
    font-size: large;
    color: orangered;
    font-weight: bold;
    transition: all .5s;
}

button:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid orangered;
}

button a:link, 
button a:visited:hover {
    color: #fff;
}

.word {
    width: 100px;
    height: 200px;
    background: orangered;
}

.man {
    top: 0;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    animation-delay: 200s;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(0);
    /* height: 400px !important;
    margin-bottom: 140px;
    overflow: hidden; */
}
.btn {
    margin-left: -200px;
}

@media only screen and (max-width: 768px) {
    .box {
        position: relative;
        width: 200px;
        height: 200px;
        transform-style: preserve-3d;
        animation: animate 50s linear infinite;

    }
    /* .btn {
        margin-left: -200px;
    } */

    /* button {
        margin-left: auto;
        margin-right: auto;

    }

    button a {
        margin-left: auto;
        margin-right: auto;

    } */
}
